@font-face {
    font-family: "neoretrodraw";
    src:
        url("fonts/NeoRetroDraw.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('fonts/SourceSansProRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --box-shadow: 2px 4px 8px 0px rgb(0, 0, 0, 0.6);
    --blue-clr: #004d70;
    --white-clr: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", system-ui, Roboto, Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;

}

#full-page {
    min-height: 100vh;
    display: flex;
}

.section-1 {
    flex: 40%;
}

.section-2 {
    flex: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(200, 200, 200, 0.2);
    font-size: 2.5vh;
}

.section-2 div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-end;
    font-weight: bold;
}

.section-2 div:nth-child(2) {
    background-color: var(--white-clr);
    padding: 1rem 3rem;
    box-shadow: var(--box-shadow);
    margin: 3rem 0;
}

.section-col {
    padding: 0vh 5vh;
    flex: 30%;
}

#company-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    padding: 2rem;
    color: var(--white-clr);
}

#company-logo img {
    filter: invert(100%) sepia(97%) saturate(13%) hue-rotate(210deg) brightness(104%) contrast(104%);
    margin-right: 2rem;
}

#company-logo h1 {
    font-family: "neoretrodraw", system-ui, Roboto, Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#company-bg {
    background-color: rgb(0, 0, 0, 0.6);
}

.bg-image {
    background-image: url("img/accounting-workspace-study-image.png");
    position: relative;
}

form {
    margin: 1rem 0rem;

    fieldset {
        border: none;
        display: flex;
        gap: 4rem;

        span {
            display: flex;
            flex-direction: column;
        }

        label {
            font-size: 1rem;
        }

        input {
            border-radius: 4px;
            margin-bottom: 1rem;
            border: 1px solid rgb(200, 200, 200);
            width: 30vh;
            height: 3vh;
            font-size: 2vh;
            padding: 0.4rem 0.6rem;
        }

        input:focus:required {
            border: 2px solid var(--blue-clr);
            box-shadow: var(--box-shadow);
            outline: none;
        }

        input[type="password"]:invalid {
            border: 2px solid rgb(200, 20, 20);
        }
    }
}

button {
    padding: 0.4rem 4rem;
    border-radius: 8px;
    color: var(--white-clr);
    background-color: var(--blue-clr);
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
    color: var(--blue-clr);
    font-weight: bold;
}