@font-face {
    font-family: "neoretrodraw";
    src:
        url("fonts/NeoRetroDraw.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('fonts/SourceSansProRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", system-ui, Roboto, Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;

}

#full-page {
    min-height: 100vh;
    display: flex;
}

.section-1 {
    flex: 40%;
}

.section-2 {
    flex: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(200, 200, 200, 0.2);
}

.section-2 div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-end;
    font-weight: bold;
}

.section-2 div:nth-child(2) {
    background-color: #fff;
    padding: 4%;
    box-shadow: 0px 10px 20px 0px black;
    margin: 10% 0%;
}

.section-col {
    padding: 0vh 5vh;
    flex: 30%;
}

#company-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    padding: 2rem;
    color: #fff;
}

#company-logo img {
    filter: invert(100%) sepia(97%) saturate(13%) hue-rotate(210deg) brightness(104%) contrast(104%);
    margin-right: 2rem;
}

#company-logo h1 {
    font-family: "neoretrodraw";
}

#company-bg {
    background-color: rgba(0, 0, 0, 0.6);
}

.bg-image {
    background-image: url("img/accounting-workspace-study-image.png");
}